        .countdown-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .card {
            /*height: 250px;*/
        }

.categoryContainer {
	margin-top: 30px;
	padding-left: 0.5rem;
}


    #timer_name {
        width: 100%;
        max-width: 400px; /* Set the maximum width as needed */
        font-size: 16px; /* Adjust font size as needed */
        padding: 8px; /* Add padding to improve appearance */
    }


    /* Autocomplete styles */
    #autocomplete_list {
        position: absolute;
        z-index: 1;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        max-height: 150px;
        overflow-y: auto;

        font-size: 14px;
    }

    .autocomplete-item {
        padding: 10px;
        cursor: pointer;
    }

    .autocomplete-item:hover {
        background-color: #e6e6e6;
    }

    .user-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

.user-info p {
  font-size: 18px;
  margin: 0 0 10px;
}

.user-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.user-info a:hover {
  text-decoration: underline;
}