<!DOCTYPE html>
<html>
<head>
    <title>Ferra Victrix simple timeboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.7.0.min.js') }}"></script>


</head>
<body>
<div class="container">
    <div class="user-info">
        <!-- Check if user is authenticated -->
    {% if authenticated %}
        <h5> Logged in as: <div id="username">{{CharacterName}}</div></h5>
        <!-- Show logout link -->
        <a href="/logout">Logout</a>
    {% else %}
        <h5> {{CharacterName}}</h5>

        <!-- Show login link or login form -->
    {% endif %}
    </div>

    <h1 class="text-center">Ferrata Victrix:</h1>
    <h3 class="text-center">A simple timeboard</h3>
</div>

    <form class="mt-5" id="countdown_form">
            <div class="form-row align-items-center justify-content-center">
                <div class="col-auto">
                <label for="countdown_date">Date:</label>
                <input type="date" class="form-control" id="countdown_date" name="countdown_date" required>
                </div>

                <div class="col-auto">
                <label for="countdown_time">Time:</label>
                <input type="time" class="form-control" id="countdown_time" name="countdown_time" required>
                </div>

                <div class="col-auto">
                    <label for="timer_name">Location:</label>
            <input type="text" class="form-control" id="timer_name" required="true" placeholder="Enter location here" autocomplete="off">
            <div id="autocomplete_list"></div>
                </div>

                <div class="col-auto">
                            <label for="structure_type">Structure Type:</label>
            <select class="form-control" id="structure_type">
                <!-- Options will be dynamically populated by JavaScript -->
            </select>
                </div>

                <div class="col-auto">
                         <div class="categoryContainer" id="categoryContainer">
            <label>Category:</label>
            <div class="">
                <input class="form-check-input" type="radio" name="category" value="Offensive" id="offensive">
                <label class="form-check-label" for="offensive">
                    Offensive
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="radio" name="category" value="Defensive" id="defensive">
                <label class="form-check-label" for="defensive">
                    Defensive
                </label>
            </div>
        </div>
                </div>



            </div>
     <div class="form-row align-items-center justify-content-center">
         <div class="col-auto" id="login_button">
   <button type="submit" class="btn btn-primary mt-5">Create timer</button>
</div>
     </div>

        </form>



    <div class="row mt-5" id="timers_container">

        <!-- Timer cards will be dynamically added here -->

    </div>



</body>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>
